<html>
<center>
    <head>
      
      <h2>ONLINE TEST</h2>
     
      <style>
      body{
        background-color: gray;
      }
      </style>

    </head>
 
        <body>
            <form action="/Registration/attendee_register/" method="post">

            {% csrf_token %}
            <table border="1">
              <tr>
                <td>
                  <input type = "submit" value="REGISTRATION" name="add"/></br>
                </td>
              </tr>
            </table>
            
            </form>

        </body>

</center>
</html>